@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

body {
  margin: 0;
  padding: 20px 20px 100px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.App {
  text-align: center;
}

.posts {
  text-align: left;
  margin-top: 20px;
}

.post {
  /* border-bottom: 1px solid #ccc; */
  padding: 10px 20px 20px 20px;
}

.post:nth-child(odd) {
  background-color: #f4f4f4;
}

.btn-download {
  text-align: center;
  margin-top: 20px;
}

button {
  background-color: #ccc;
  color: #555;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 1px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #000;
  color: #fff;
}

input, textarea {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 4px;
}

textarea {
  height: 100px;
}

h3 {
  text-transform: capitalize;
}

p {
  color: #666;
}